This is the data wrangling for my capstone project 1.  The data set was provided by the authors of the paper whose work I am attempting to recreate.  The data had already been processed by them, however, the format the data was in needed some rearranging more than cleaning for my purposes.  The data pertains to games played in the NHL during the 2012-2013 season.  I have many .head() and .info() commands to double check the steps I had taken had the desired effect.  The original data set had each hockey game as 2 rows of data, 1 for the home team and 1 for the away team.  I am going to use logistic regression for my prediction model, so I had to put all of the data for each game into 1 observation.  I have put comments in my code to clarify my steps and to communicate my intended result.  There were several rows with missing values at the beginning of the data.  The original authors did not use any rows with missing values, so my main analysis will also not use them.  However, I will make and use a data set including the missing values to see if there is any significant difference in the results.

In [41]:
import pandas as pd

In [42]:
df_wip = pd.read_excel('C:/Users/Hill HP 2015/Documents/Springboard/Capstone Project 1/stats.xlsx')

In [43]:
# Get a feel for the data

df_wip.head()

,Date,Team,location,Fenwick Close,GF,GA,GlDiff,PP%,PK%,sh%,...,standing,5-5 F/A,Final,GF.1,GA.1,ShFor,ShA,Sh%,Sv%,Game PDO
0,2013-02-08,Anaheim,Away,48.55,31,22,9,26.7,72.7,878,...,2,NaN,Loss,1,3,21,28,0.047619,89.285714,94.047619
1,2013-02-08,Dallas,Home,48.44,22,27,-5,13.9,83.3,930,...,9,NaN,Win,3,1,28,21,0.107143,95.238095,105.952381
2,2013-02-09,Pittsburgh,Away,53.41,38,26,12,29.3,88.3,909,...,1,NaN,Loss,1,3,25,28,0.040000,89.285714,93.285714
3,2013-02-09,New Jersey,Home,51.87,27,21,6,19.0,87.8,914,...,4,NaN,Win,3,1,28,25,0.107143,96.000000,106.714286
4,2013-02-09,Carolina,Away,48.80,25,26,-1,16.7,75.6,935,...,8,NaN,Loss,3,4,33,32,0.090909,87.500000,96.590909

In [44]:
df_wip.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1136 entries, 0 to 1135
Data columns (total 25 columns):
Date             1136 non-null datetime64[ns]
Team             1136 non-null object
location         1136 non-null object
Fenwick Close    1136 non-null float64
GF               1136 non-null int64
GA               1136 non-null int64
GlDiff           1136 non-null int64
PP%              1136 non-null float64
PK%              1136 non-null float64
sh%              1136 non-null int64
sv%              1136 non-null int64
PDO              1136 non-null int64
Opening Line     1034 non-null float64
Closing Line     1034 non-null float64
win streak       1136 non-null int64
standing         1136 non-null int64
5-5 F/A          1034 non-null float64
Final            1136 non-null object
GF.1             1136 non-null int64
GA.1             1136 non-null int64
ShFor            1136 non-null int64
ShA              1136 non-null int64
Sh%              1136 non-null float64
Sv%              1136 non-null float64
Game PDO         1136 non-null float64
dtypes: datetime64[ns](1), float64(9), int64(12), object(3)
memory usage: 222.0+ KB

In [45]:
# The authors of the paper didn't use missing values, so to recreate their work, I will drop rows with missing values
# However, in the interest of using all available data, I'll make a data set with the missing values intact
df_wip_with_na = df_wip
# I'll duplicate the work on this extra data set at the end of the notebook but not the head or info checks

df_wip = df_wip.dropna(axis=0, how='any')
df_wip.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1034 entries, 102 to 1135
Data columns (total 25 columns):
Date             1034 non-null datetime64[ns]
Team             1034 non-null object
location         1034 non-null object
Fenwick Close    1034 non-null float64
GF               1034 non-null int64
GA               1034 non-null int64
GlDiff           1034 non-null int64
PP%              1034 non-null float64
PK%              1034 non-null float64
sh%              1034 non-null int64
sv%              1034 non-null int64
PDO              1034 non-null int64
Opening Line     1034 non-null float64
Closing Line     1034 non-null float64
win streak       1034 non-null int64
standing         1034 non-null int64
5-5 F/A          1034 non-null float64
Final            1034 non-null object
GF.1             1034 non-null int64
GA.1             1034 non-null int64
ShFor            1034 non-null int64
ShA              1034 non-null int64
Sh%              1034 non-null float64
Sv%              1034 non-null float64
Game PDO         1034 non-null float64
dtypes: datetime64[ns](1), float64(9), int64(12), object(3)
memory usage: 210.0+ KB

In [46]:
# Data taken from the current game and betting lines doesn't help the model, drop it

df_wip = df_wip.drop(['Opening Line', 'Closing Line', 'GF.1', 'GA.1', 'ShFor', 'ShA', 'Sh%', 'Sv%', 'Game PDO'], axis=1)

In [47]:
df_wip.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1034 entries, 102 to 1135
Data columns (total 16 columns):
Date             1034 non-null datetime64[ns]
Team             1034 non-null object
location         1034 non-null object
Fenwick Close    1034 non-null float64
GF               1034 non-null int64
GA               1034 non-null int64
GlDiff           1034 non-null int64
PP%              1034 non-null float64
PK%              1034 non-null float64
sh%              1034 non-null int64
sv%              1034 non-null int64
PDO              1034 non-null int64
win streak       1034 non-null int64
standing         1034 non-null int64
5-5 F/A          1034 non-null float64
Final            1034 non-null object
dtypes: datetime64[ns](1), float64(4), int64(8), object(3)
memory usage: 137.3+ KB

In [48]:
# Split data into home and away to rename columns for readability when concatenating back together

df_wip_home = df_wip[df_wip.location == 'Home']
df_wip_away = df_wip[df_wip.location == 'Away']

In [49]:
df_wip_home.head()

,Date,Team,location,Fenwick Close,GF,GA,GlDiff,PP%,PK%,sh%,sv%,PDO,win streak,standing,5-5 F/A,Final
103,2013-02-16,Florida,Home,46.73,30,47,-17,18.9,74.5,937,901,964,-2,14,0.55,Loss
105,2013-02-16,Toronto,Home,45.02,40,36,4,14.9,78.3,901,933,1032,-1,6,1.22,Win
107,2013-02-16,Montreal,Home,52.03,36,33,3,20.3,81.5,921,931,1010,2,5,1.11,Win
109,2013-02-16,NY Islanders,Home,49.38,40,46,-6,25.0,88.1,912,873,961,1,13,0.71,Win
111,2013-02-16,Nashville,Home,46.55,28,26,2,16.3,85.2,924,947,1023,2,4,1.21,Loss

In [50]:
# Rename the columns to distinguish home and away data in the eventually concatenated data frame

df_wip_home.columns = ['Date','H Team','location','H Fenwick Close','H GF','H GA','H GlDiff','H PP%','H PK%','H sh%','H sv%','H PDO','H win streak','H standing','H 5-5 F/A','Final']
df_wip_away.columns = ['Date','A Team','location','A Fenwick Close','A GF','A GA','A GlDiff','A PP%','A PK%','A sh%','A sv%','A PDO','A win streak','A standing','A 5-5 F/A','Final']

In [51]:
df_wip_home.head()

,Date,H Team,location,H Fenwick Close,H GF,H GA,H GlDiff,H PP%,H PK%,H sh%,H sv%,H PDO,H win streak,H standing,H 5-5 F/A,Final
103,2013-02-16,Florida,Home,46.73,30,47,-17,18.9,74.5,937,901,964,-2,14,0.55,Loss
105,2013-02-16,Toronto,Home,45.02,40,36,4,14.9,78.3,901,933,1032,-1,6,1.22,Win
107,2013-02-16,Montreal,Home,52.03,36,33,3,20.3,81.5,921,931,1010,2,5,1.11,Win
109,2013-02-16,NY Islanders,Home,49.38,40,46,-6,25.0,88.1,912,873,961,1,13,0.71,Win
111,2013-02-16,Nashville,Home,46.55,28,26,2,16.3,85.2,924,947,1023,2,4,1.21,Loss

In [52]:
# For analysis, I only need 1 column to represent home team winning, and the away data will be concatenated after
# the home data, so drop the 'Final' column from the home data, and since we know the home team data is in this
# data frame, drop the 'location' column as well

df_wip_home = df_wip_home.drop(['location','Final'], axis=1)

# The date column doesn't need to be dupliated, so drop it and the 'location' column from the away team data

df_wip_away = df_wip_away.drop(['Date','location'], axis=1)

In [53]:
df_wip_home.head()

,Date,H Team,H Fenwick Close,H GF,H GA,H GlDiff,H PP%,H PK%,H sh%,H sv%,H PDO,H win streak,H standing,H 5-5 F/A
103,2013-02-16,Florida,46.73,30,47,-17,18.9,74.5,937,901,964,-2,14,0.55
105,2013-02-16,Toronto,45.02,40,36,4,14.9,78.3,901,933,1032,-1,6,1.22
107,2013-02-16,Montreal,52.03,36,33,3,20.3,81.5,921,931,1010,2,5,1.11
109,2013-02-16,NY Islanders,49.38,40,46,-6,25.0,88.1,912,873,961,1,13,0.71
111,2013-02-16,Nashville,46.55,28,26,2,16.3,85.2,924,947,1023,2,4,1.21

In [54]:
# Make sure the home and away data have the same number of rows

df_wip_home.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 517 entries, 103 to 1135
Data columns (total 14 columns):
Date               517 non-null datetime64[ns]
H Team             517 non-null object
H Fenwick Close    517 non-null float64
H GF               517 non-null int64
H GA               517 non-null int64
H GlDiff           517 non-null int64
H PP%              517 non-null float64
H PK%              517 non-null float64
H sh%              517 non-null int64
H sv%              517 non-null int64
H PDO              517 non-null int64
H win streak       517 non-null int64
H standing         517 non-null int64
H 5-5 F/A          517 non-null float64
dtypes: datetime64[ns](1), float64(4), int64(8), object(1)
memory usage: 60.6+ KB

In [55]:
df_wip_away.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 517 entries, 102 to 1134
Data columns (total 14 columns):
A Team             517 non-null object
A Fenwick Close    517 non-null float64
A GF               517 non-null int64
A GA               517 non-null int64
A GlDiff           517 non-null int64
A PP%              517 non-null float64
A PK%              517 non-null float64
A sh%              517 non-null int64
A sv%              517 non-null int64
A PDO              517 non-null int64
A win streak       517 non-null int64
A standing         517 non-null int64
A 5-5 F/A          517 non-null float64
Final              517 non-null object
dtypes: float64(4), int64(8), object(2)
memory usage: 60.6+ KB

In [56]:
# To make eventual index read smoothly, add 'at' before home team's name

df_wip_home['H Team'] = df_wip_home.apply(lambda row: 'at ' + row['H Team'], axis=1)

In [57]:
df_wip_home.head()

,Date,H Team,H Fenwick Close,H GF,H GA,H GlDiff,H PP%,H PK%,H sh%,H sv%,H PDO,H win streak,H standing,H 5-5 F/A
103,2013-02-16,at Florida,46.73,30,47,-17,18.9,74.5,937,901,964,-2,14,0.55
105,2013-02-16,at Toronto,45.02,40,36,4,14.9,78.3,901,933,1032,-1,6,1.22
107,2013-02-16,at Montreal,52.03,36,33,3,20.3,81.5,921,931,1010,2,5,1.11
109,2013-02-16,at NY Islanders,49.38,40,46,-6,25.0,88.1,912,873,961,1,13,0.71
111,2013-02-16,at Nashville,46.55,28,26,2,16.3,85.2,924,947,1023,2,4,1.21

In [58]:
# To concatenate back together correctly, indexes of home and away data must match

df_wip_home = df_wip_home.reset_index(drop=True)
df_wip_away = df_wip_away.reset_index(drop=True)

In [59]:
# Concatenate the data

df_wip_full = pd.concat([df_wip_home, df_wip_away], axis=1)

In [60]:
# Create a temporary column to re-index the full data frame, set the index, drop the now unneeded columns

df_wip_full['Game'] = df_wip_full.apply(lambda row: row['Date'].strftime("%Y-%m-%d") + ' ' + row['A Team'] + ' ' + row['H Team'], axis=1)
df_wip_full = df_wip_full.set_index('Game')
df_wip_full = df_wip_full.drop(['Date', 'H Team', 'A Team'], axis=1)

In [61]:
df_wip_full.head()

,H Fenwick Close,H GF,H GA,H GlDiff,H PP%,H PK%,H sh%,H sv%,H PDO,H win streak,...,A GlDiff,A PP%,A PK%,A sh%,A sv%,A PDO,A win streak,A standing,A 5-5 F/A,Final
Game,,,,,,,,,,,,,,,,,,,,,
2013-02-16 Tampa Bay at Florida,46.73,30,47,-17,18.9,74.5,937,901,964,-2,...,9,26.4,81.1,881,920,1039,-1,9,1.28,Win
2013-02-16 Ottawa at Toronto,45.02,40,36,4,14.9,78.3,901,933,1032,-1,...,8,17.6,89.3,932,945,1013,-1,7,1.35,Loss
2013-02-16 Philadelphia at Montreal,52.03,36,33,3,20.3,81.5,921,931,1010,2,...,-8,18.3,80.6,933,911,978,-1,10,0.85,Loss
2013-02-16 New Jersey at NY Islanders,49.38,40,46,-6,25.0,88.1,912,873,961,1,...,9,20.7,82.8,904,929,1025,1,1,1.29,Loss
2013-02-16 Anaheim at Nashville,46.55,28,26,2,16.3,85.2,924,947,1023,2,...,12,21.4,70.0,870,933,1063,3,2,1.83,Win

In [62]:
df_wip_full.info()

<class 'pandas.core.frame.DataFrame'>
Index: 517 entries, 2013-02-16 Tampa Bay at Florida to 2013-04-28 Ottawa at Boston
Data columns (total 25 columns):
H Fenwick Close    517 non-null float64
H GF               517 non-null int64
H GA               517 non-null int64
H GlDiff           517 non-null int64
H PP%              517 non-null float64
H PK%              517 non-null float64
H sh%              517 non-null int64
H sv%              517 non-null int64
H PDO              517 non-null int64
H win streak       517 non-null int64
H standing         517 non-null int64
H 5-5 F/A          517 non-null float64
A Fenwick Close    517 non-null float64
A GF               517 non-null int64
A GA               517 non-null int64
A GlDiff           517 non-null int64
A PP%              517 non-null float64
A PK%              517 non-null float64
A sh%              517 non-null int64
A sv%              517 non-null int64
A PDO              517 non-null int64
A win streak       517 non-null int64
A standing         517 non-null int64
A 5-5 F/A          517 non-null float64
Final              517 non-null object
dtypes: float64(8), int64(16), object(1)
memory usage: 105.0+ KB

In [63]:
# Change the 'Final' column to numeric, 1 if home team won and 0 if home team lost

temp_home_win = []
for index,row in df_wip_full.iterrows():
    # Remminder, this is the away team's win or loss
    if (row['Final'] == 'Win'):
        # So if the away team won, the home team lost
        temp_home_win.append(0)
    else:
        temp_home_win.append(1)
df_wip_full['Home Win'] = temp_home_win
df_wip_full = df_wip_full.drop(['Final'], axis=1)

In [64]:
df_wip_full.head()

,H Fenwick Close,H GF,H GA,H GlDiff,H PP%,H PK%,H sh%,H sv%,H PDO,H win streak,...,A GlDiff,A PP%,A PK%,A sh%,A sv%,A PDO,A win streak,A standing,A 5-5 F/A,Home Win
Game,,,,,,,,,,,,,,,,,,,,,
2013-02-16 Tampa Bay at Florida,46.73,30,47,-17,18.9,74.5,937,901,964,-2,...,9,26.4,81.1,881,920,1039,-1,9,1.28,0
2013-02-16 Ottawa at Toronto,45.02,40,36,4,14.9,78.3,901,933,1032,-1,...,8,17.6,89.3,932,945,1013,-1,7,1.35,1
2013-02-16 Philadelphia at Montreal,52.03,36,33,3,20.3,81.5,921,931,1010,2,...,-8,18.3,80.6,933,911,978,-1,10,0.85,1
2013-02-16 New Jersey at NY Islanders,49.38,40,46,-6,25.0,88.1,912,873,961,1,...,9,20.7,82.8,904,929,1025,1,1,1.29,1
2013-02-16 Anaheim at Nashville,46.55,28,26,2,16.3,85.2,924,947,1023,2,...,12,21.4,70.0,870,933,1063,3,2,1.83,0

In [65]:
# Write back wrangled data set for use in capstone project

df_wip_full.to_csv('C:/Users/Hill HP 2015/Documents/Springboard/Capstone Project 1/cp1_data.csv')

In [66]:
df_wip_with_na = df_wip_with_na.drop(['Opening Line', 'Closing Line', 'GF.1', 'GA.1', 'ShFor', 'ShA', 'Sh%', 'Sv%', 'Game PDO'], axis=1)
df_wip_home_with_na = df_wip_with_na[df_wip_with_na.location == 'Home']
df_wip_away_with_na = df_wip_with_na[df_wip_with_na.location == 'Away']
df_wip_home_with_na.columns = ['Date','H Team','location','H Fenwick Close','H GF','H GA','H GlDiff','H PP%','H PK%','H sh%','H sv%','H PDO','H win streak','H standing','H 5-5 F/A','Final']
df_wip_away_with_na.columns = ['Date','A Team','location','A Fenwick Close','A GF','A GA','A GlDiff','A PP%','A PK%','A sh%','A sv%','A PDO','A win streak','A standing','A 5-5 F/A','Final']
df_wip_home_with_na = df_wip_home_with_na.drop(['location','Final'], axis=1)
df_wip_away_with_na = df_wip_away_with_na.drop(['Date','location'], axis=1)
df_wip_home_with_na['H Team'] = df_wip_home_with_na.apply(lambda row: 'at ' + row['H Team'], axis=1)
df_wip_home_with_na = df_wip_home_with_na.reset_index(drop=True)
df_wip_away_with_na = df_wip_away_with_na.reset_index(drop=True)
df_wip_full_with_na = pd.concat([df_wip_home_with_na, df_wip_away_with_na], axis=1)
df_wip_full_with_na['Game'] = df_wip_full_with_na.apply(lambda row: row['Date'].strftime("%Y-%m-%d") + ' ' + row['A Team'] + ' ' + row['H Team'], axis=1)
df_wip_full_with_na = df_wip_full_with_na.set_index('Game')
df_wip_full_with_na = df_wip_full_with_na.drop(['Date', 'H Team', 'A Team'], axis=1)
temp_home_win_with_na = []
for index,row in df_wip_full_with_na.iterrows():
    if (row['Final'] == 'Win'):
        temp_home_win_with_na.append(0)
    else:
        temp_home_win_with_na.append(1)
df_wip_full_with_na['Home Win'] = temp_home_win_with_na
df_wip_full_with_na = df_wip_full_with_na.drop(['Final'], axis=1)

df_wip_full_with_na.to_csv('C:/Users/Hill HP 2015/Documents/Springboard/Capstone Project 1/cp1_data_with_na.csv')