This is the data wrangling part of my capstone project 2.  The data was all downloaded from www.naturalstattrick.com, a website containing a lot of data pertaining to NHL hockey games.  From the players tab, I am using the On-Ice, Individual, and Bios data from the seasons 2007-08 to 2017-18.  I will probably put in many .head() and .info() commands to make sure the data is forming the way I want it to.

In [1]:
import pandas as pd
import numpy as np

In [2]:
# I'll start by loading the bio data

df_bio_0708 = pd.read_csv('C:/Users/Hill HP 2015/Documents/Springboard/Capstone Project 2/data/Player Season Totals bios 2007-8.csv')

# Let's see what this looks like

df_bio_0708.head()

,Unnamed: 0,Player,Team,Position,Age,Date of Birth,Birth City,Birth State/Province,Birth Country,Nationality,Height (in),Weight (lbs),Draft Year,Draft Team,Draft Round,Round Pick,Overall Draft Position
0,NaN,Aaron Downey,DET,R,43,1974-08-27,Shelburne,ON,CAN,CAN,73,215,-,-,-,-,-
1,NaN,Aaron Johnson,NYI,D,35,1983-04-30,Port Hawkesbury,NS,CAN,CAN,73,204,2001,CBJ,3,22,85
2,NaN,Aaron Miller,VAN,D,46,1971-08-11,Buffalo,NY,USA,USA,75,210,1989,NYR,5,4,88
3,NaN,Aaron Rome,CBJ,D,34,1983-09-27,Nesbitt,MB,CAN,CAN,73,220,2002,L.A,4,8,104
4,NaN,Aaron Voros,MIN,L,36,1981-07-02,Vancouver,BC,CAN,CAN,74,210,2001,N.J,8,2,229

In [3]:
# I don't need that first blank column

df_bio_0708 = df_bio_0708.drop(df_bio_0708.columns[0], axis=1)

df_bio_0708.head()

,Player,Team,Position,Age,Date of Birth,Birth City,Birth State/Province,Birth Country,Nationality,Height (in),Weight (lbs),Draft Year,Draft Team,Draft Round,Round Pick,Overall Draft Position
0,Aaron Downey,DET,R,43,1974-08-27,Shelburne,ON,CAN,CAN,73,215,-,-,-,-,-
1,Aaron Johnson,NYI,D,35,1983-04-30,Port Hawkesbury,NS,CAN,CAN,73,204,2001,CBJ,3,22,85
2,Aaron Miller,VAN,D,46,1971-08-11,Buffalo,NY,USA,USA,75,210,1989,NYR,5,4,88
3,Aaron Rome,CBJ,D,34,1983-09-27,Nesbitt,MB,CAN,CAN,73,220,2002,L.A,4,8,104
4,Aaron Voros,MIN,L,36,1981-07-02,Vancouver,BC,CAN,CAN,74,210,2001,N.J,8,2,229

In [4]:
df_bio_0809 = pd.read_csv('C:/Users/Hill HP 2015/Documents/Springboard/Capstone Project 2/data/Player Season Totals bios 2008-9.csv')
df_bio_0910 = pd.read_csv('C:/Users/Hill HP 2015/Documents/Springboard/Capstone Project 2/data/Player Season Totals bios 2009-10.csv')
df_bio_1011 = pd.read_csv('C:/Users/Hill HP 2015/Documents/Springboard/Capstone Project 2/data/Player Season Totals bios 2010-11.csv')
df_bio_1112 = pd.read_csv('C:/Users/Hill HP 2015/Documents/Springboard/Capstone Project 2/data/Player Season Totals bios 2011-12.csv')
df_bio_1213 = pd.read_csv('C:/Users/Hill HP 2015/Documents/Springboard/Capstone Project 2/data/Player Season Totals bios 2012-13.csv')
df_bio_1314 = pd.read_csv('C:/Users/Hill HP 2015/Documents/Springboard/Capstone Project 2/data/Player Season Totals bios 2013-14.csv')
df_bio_1415 = pd.read_csv('C:/Users/Hill HP 2015/Documents/Springboard/Capstone Project 2/data/Player Season Totals bios 2014-15.csv')
df_bio_1516 = pd.read_csv('C:/Users/Hill HP 2015/Documents/Springboard/Capstone Project 2/data/Player Season Totals bios 2015-16.csv')
df_bio_1617 = pd.read_csv('C:/Users/Hill HP 2015/Documents/Springboard/Capstone Project 2/data/Player Season Totals bios 2016-17.csv')
df_bio_1718 = pd.read_csv('C:/Users/Hill HP 2015/Documents/Springboard/Capstone Project 2/data/Player Season Totals bios 2017-18.csv')

df_bio_0809 = df_bio_0809.drop(df_bio_0809.columns[0], axis=1)
df_bio_0910 = df_bio_0910.drop(df_bio_0910.columns[0], axis=1)
df_bio_1011 = df_bio_1011.drop(df_bio_1011.columns[0], axis=1)
df_bio_1112 = df_bio_1112.drop(df_bio_1112.columns[0], axis=1)
df_bio_1213 = df_bio_1213.drop(df_bio_1213.columns[0], axis=1)
df_bio_1314 = df_bio_1314.drop(df_bio_1314.columns[0], axis=1)
df_bio_1415 = df_bio_1415.drop(df_bio_1415.columns[0], axis=1)
df_bio_1516 = df_bio_1516.drop(df_bio_1516.columns[0], axis=1)
df_bio_1617 = df_bio_1617.drop(df_bio_1617.columns[0], axis=1)
df_bio_1718 = df_bio_1718.drop(df_bio_1718.columns[0], axis=1)

# Let's look at another, just to compare to the first

df_bio_1718.head()

,Player,Team,Position,Age,Date of Birth,Birth City,Birth State/Province,Birth Country,Nationality,Height (in),Weight (lbs),Draft Year,Draft Team,Draft Round,Round Pick,Overall Draft Position
0,A.J. Greer,COL,L,21,1996-12-14,Joliette,QC,CAN,CAN,75,204,2015,COL,2,9,39
1,Aaron Ekblad,FLA,D,22,1996-02-07,Windsor,ON,CAN,CAN,76,216,2014,FLA,1,1,1
2,Aaron Ness,WSH,D,28,1990-05-18,Roseau,MN,USA,USA,70,184,2008,NYI,2,10,40
3,Adam Clendening,ARI,D,25,1992-10-26,Niagara Falls,NY,USA,USA,72,196,2011,CHI,2,6,36
4,Adam Cracknell,"DAL, NYR",R,32,1985-07-15,Prince Albert,SK,CAN,CAN,74,218,2004,CGY,9,21,279

In [5]:
# How many players' birth country is not their nationality?

birth_not_nat = (df_bio_1718['Birth Country'] != df_bio_1718['Nationality'])

print(np.sum(birth_not_nat))

23

23 out of almost 900 is not enough to be worried about.  I'll just keep nationality for simplicity.

In [6]:
# For this study, I don't need age (I have birth date), I don't care where any players are born, or what team drafted them
# or what exact spot they were drafted at

df_bio_0708 = df_bio_0708.drop(['Age','Birth City','Birth State/Province','Birth Country','Draft Team','Round Pick','Overall Draft Position'], axis=1)
df_bio_0708.head()

,Player,Team,Position,Date of Birth,Nationality,Height (in),Weight (lbs),Draft Year,Draft Round
0,Aaron Downey,DET,R,1974-08-27,CAN,73,215,-,-
1,Aaron Johnson,NYI,D,1983-04-30,CAN,73,204,2001,3
2,Aaron Miller,VAN,D,1971-08-11,USA,75,210,1989,5
3,Aaron Rome,CBJ,D,1983-09-27,CAN,73,220,2002,4
4,Aaron Voros,MIN,L,1981-07-02,CAN,74,210,2001,8

In [7]:
df_bio_0809 = df_bio_0809.drop(['Age','Birth City','Birth State/Province','Birth Country','Draft Team','Round Pick','Overall Draft Position'], axis=1)
df_bio_0910 = df_bio_0910.drop(['Age','Birth City','Birth State/Province','Birth Country','Draft Team','Round Pick','Overall Draft Position'], axis=1)
df_bio_1011 = df_bio_1011.drop(['Age','Birth City','Birth State/Province','Birth Country','Draft Team','Round Pick','Overall Draft Position'], axis=1)
df_bio_1112 = df_bio_1112.drop(['Age','Birth City','Birth State/Province','Birth Country','Draft Team','Round Pick','Overall Draft Position'], axis=1)
df_bio_1213 = df_bio_1213.drop(['Age','Birth City','Birth State/Province','Birth Country','Draft Team','Round Pick','Overall Draft Position'], axis=1)
df_bio_1314 = df_bio_1314.drop(['Age','Birth City','Birth State/Province','Birth Country','Draft Team','Round Pick','Overall Draft Position'], axis=1)
df_bio_1415 = df_bio_1415.drop(['Age','Birth City','Birth State/Province','Birth Country','Draft Team','Round Pick','Overall Draft Position'], axis=1)
df_bio_1516 = df_bio_1516.drop(['Age','Birth City','Birth State/Province','Birth Country','Draft Team','Round Pick','Overall Draft Position'], axis=1)
df_bio_1617 = df_bio_1617.drop(['Age','Birth City','Birth State/Province','Birth Country','Draft Team','Round Pick','Overall Draft Position'], axis=1)
df_bio_1718 = df_bio_1718.drop(['Age','Birth City','Birth State/Province','Birth Country','Draft Team','Round Pick','Overall Draft Position'], axis=1)

df_bio_1718.head()

,Player,Team,Position,Date of Birth,Nationality,Height (in),Weight (lbs),Draft Year,Draft Round
0,A.J. Greer,COL,L,1996-12-14,CAN,75,204,2015,2
1,Aaron Ekblad,FLA,D,1996-02-07,CAN,76,216,2014,1
2,Aaron Ness,WSH,D,1990-05-18,USA,70,184,2008,2
3,Adam Clendening,ARI,D,1992-10-26,USA,72,196,2011,2
4,Adam Cracknell,"DAL, NYR",R,1985-07-15,CAN,74,218,2004,9

In [8]:
# Now let's see if any data is missing

df_bio_0708.info()
df_bio_0809.info()
df_bio_0910.info()
df_bio_1011.info()
df_bio_1112.info()
df_bio_1213.info()
df_bio_1314.info()
df_bio_1415.info()
df_bio_1516.info()
df_bio_1617.info()
df_bio_1718.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 852 entries, 0 to 851
Data columns (total 9 columns):
Player           852 non-null object
Team             852 non-null object
Position         852 non-null object
Date of Birth    852 non-null object
Nationality      852 non-null object
Height (in)      852 non-null int64
Weight (lbs)     852 non-null int64
Draft Year       852 non-null object
Draft Round      852 non-null object
dtypes: int64(2), object(7)
memory usage: 60.0+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 885 entries, 0 to 884
Data columns (total 9 columns):
Player           885 non-null object
Team             885 non-null object
Position         885 non-null object
Date of Birth    885 non-null object
Nationality      885 non-null object
Height (in)      885 non-null int64
Weight (lbs)     885 non-null int64
Draft Year       885 non-null object
Draft Round      885 non-null object
dtypes: int64(2), object(7)
memory usage: 62.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 879 entries, 0 to 878
Data columns (total 9 columns):
Player           879 non-null object
Team             879 non-null object
Position         879 non-null object
Date of Birth    879 non-null object
Nationality      879 non-null object
Height (in)      879 non-null int64
Weight (lbs)     879 non-null int64
Draft Year       879 non-null object
Draft Round      879 non-null object
dtypes: int64(2), object(7)
memory usage: 61.9+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
Player           891 non-null object
Team             891 non-null object
Position         891 non-null object
Date of Birth    891 non-null object
Nationality      891 non-null object
Height (in)      891 non-null int64
Weight (lbs)     891 non-null int64
Draft Year       891 non-null object
Draft Round      891 non-null object
dtypes: int64(2), object(7)
memory usage: 62.7+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 894 entries, 0 to 893
Data columns (total 9 columns):
Player           894 non-null object
Team             894 non-null object
Position         894 non-null object
Date of Birth    894 non-null object
Nationality      894 non-null object
Height (in)      894 non-null int64
Weight (lbs)     894 non-null int64
Draft Year       894 non-null object
Draft Round      894 non-null object
dtypes: int64(2), object(7)
memory usage: 62.9+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 839 entries, 0 to 838
Data columns (total 9 columns):
Player           839 non-null object
Team             839 non-null object
Position         839 non-null object
Date of Birth    839 non-null object
Nationality      839 non-null object
Height (in)      839 non-null int64
Weight (lbs)     839 non-null int64
Draft Year       839 non-null object
Draft Round      839 non-null object
dtypes: int64(2), object(7)
memory usage: 59.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 886 entries, 0 to 885
Data columns (total 9 columns):
Player           886 non-null object
Team             886 non-null object
Position         886 non-null object
Date of Birth    886 non-null object
Nationality      886 non-null object
Height (in)      886 non-null int64
Weight (lbs)     886 non-null int64
Draft Year       886 non-null object
Draft Round      886 non-null object
dtypes: int64(2), object(7)
memory usage: 62.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 882 entries, 0 to 881
Data columns (total 9 columns):
Player           882 non-null object
Team             882 non-null object
Position         882 non-null object
Date of Birth    882 non-null object
Nationality      882 non-null object
Height (in)      882 non-null int64
Weight (lbs)     882 non-null int64
Draft Year       882 non-null object
Draft Round      882 non-null object
dtypes: int64(2), object(7)
memory usage: 62.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 898 entries, 0 to 897
Data columns (total 9 columns):
Player           898 non-null object
Team             898 non-null object
Position         898 non-null object
Date of Birth    898 non-null object
Nationality      898 non-null object
Height (in)      898 non-null int64
Weight (lbs)     898 non-null int64
Draft Year       898 non-null object
Draft Round      898 non-null object
dtypes: int64(2), object(7)
memory usage: 63.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 888 entries, 0 to 887
Data columns (total 9 columns):
Player           888 non-null object
Team             888 non-null object
Position         888 non-null object
Date of Birth    888 non-null object
Nationality      888 non-null object
Height (in)      888 non-null int64
Weight (lbs)     888 non-null int64
Draft Year       888 non-null object
Draft Round      888 non-null object
dtypes: int64(2), object(7)
memory usage: 62.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 890 entries, 0 to 889
Data columns (total 9 columns):
Player           890 non-null object
Team             890 non-null object
Position         890 non-null object
Date of Birth    890 non-null object
Nationality      890 non-null object
Height (in)      890 non-null int64
Weight (lbs)     890 non-null int64
Draft Year       890 non-null object
Draft Round      890 non-null object
dtypes: int64(2), object(7)
memory usage: 62.7+ KB

Good, it looks like there are no null values in any of the remaining data.

In [9]:
# Now I'll load the first part of the statistics

df_0708 = pd.read_csv('C:/Users/Hill HP 2015/Documents/Springboard/Capstone Project 2/data/Player Season Totals 2007-8.csv')

df_0708.head()

,Unnamed: 0,Player,Team,Position,GP,TOI,CF,CA,CF%,FF,...,HDGF,HDGA,HDGF%,On-Ice SH%,On-Ice SV%,PDO,Off. Zone Faceoffs,Neu. Zone Faceoffs,Def. Zone Faceoffs,Off. Zone Faceoff %
0,NaN,Aaron Downey,DET,R,56,256.933333,196,191,50.65,160,...,4,4,50.00,5.22,93.86,0.991,104,67,22,82.54
1,NaN,Aaron Johnson,NYI,D,30,415.850000,370,349,51.46,258,...,8,9,47.06,10.71,91.24,1.020,115,145,91,55.83
2,NaN,Aaron Miller,VAN,D,57,988.183333,639,955,40.09,486,...,15,25,37.50,9.48,90.52,1.000,160,306,298,34.93
3,NaN,Aaron Rome,CBJ,D,17,309.033333,223,240,48.16,176,...,3,8,27.27,4.58,89.86,0.944,58,97,82,41.43
4,NaN,Aaron Voros,MIN,L,55,504.600000,413,432,48.88,309,...,16,12,57.14,11.47,89.84,1.013,158,205,144,52.32

In [10]:
# Again, don't need that first column

df_0708 = df_0708.drop(df_0708.columns[0], axis=1)

df_0708.head()

,Player,Team,Position,GP,TOI,CF,CA,CF%,FF,FA,...,HDGF,HDGA,HDGF%,On-Ice SH%,On-Ice SV%,PDO,Off. Zone Faceoffs,Neu. Zone Faceoffs,Def. Zone Faceoffs,Off. Zone Faceoff %
0,Aaron Downey,DET,R,56,256.933333,196,191,50.65,160,153,...,4,4,50.00,5.22,93.86,0.991,104,67,22,82.54
1,Aaron Johnson,NYI,D,30,415.850000,370,349,51.46,258,263,...,8,9,47.06,10.71,91.24,1.020,115,145,91,55.83
2,Aaron Miller,VAN,D,57,988.183333,639,955,40.09,486,724,...,15,25,37.50,9.48,90.52,1.000,160,306,298,34.93
3,Aaron Rome,CBJ,D,17,309.033333,223,240,48.16,176,182,...,3,8,27.27,4.58,89.86,0.944,58,97,82,41.43
4,Aaron Voros,MIN,L,55,504.600000,413,432,48.88,309,344,...,16,12,57.14,11.47,89.84,1.013,158,205,144,52.32

In [11]:
df_0809 = pd.read_csv('C:/Users/Hill HP 2015/Documents/Springboard/Capstone Project 2/data/Player Season Totals 2008-9.csv')
df_0910 = pd.read_csv('C:/Users/Hill HP 2015/Documents/Springboard/Capstone Project 2/data/Player Season Totals 2009-10.csv')
df_1011 = pd.read_csv('C:/Users/Hill HP 2015/Documents/Springboard/Capstone Project 2/data/Player Season Totals 2010-11.csv')
df_1112 = pd.read_csv('C:/Users/Hill HP 2015/Documents/Springboard/Capstone Project 2/data/Player Season Totals 2011-12.csv')
df_1213 = pd.read_csv('C:/Users/Hill HP 2015/Documents/Springboard/Capstone Project 2/data/Player Season Totals 2012-13.csv')
df_1314 = pd.read_csv('C:/Users/Hill HP 2015/Documents/Springboard/Capstone Project 2/data/Player Season Totals 2013-14.csv')
df_1415 = pd.read_csv('C:/Users/Hill HP 2015/Documents/Springboard/Capstone Project 2/data/Player Season Totals 2014-15.csv')
df_1516 = pd.read_csv('C:/Users/Hill HP 2015/Documents/Springboard/Capstone Project 2/data/Player Season Totals 2015-16.csv')
df_1617 = pd.read_csv('C:/Users/Hill HP 2015/Documents/Springboard/Capstone Project 2/data/Player Season Totals 2016-17.csv')
df_1718 = pd.read_csv('C:/Users/Hill HP 2015/Documents/Springboard/Capstone Project 2/data/Player Season Totals 2017-18.csv')

df_0809 = df_0809.drop(df_0809.columns[0], axis=1)
df_0910 = df_0910.drop(df_0910.columns[0], axis=1)
df_1011 = df_1011.drop(df_1011.columns[0], axis=1)
df_1112 = df_1112.drop(df_1112.columns[0], axis=1)
df_1213 = df_1213.drop(df_1213.columns[0], axis=1)
df_1314 = df_1314.drop(df_1314.columns[0], axis=1)
df_1415 = df_1415.drop(df_1415.columns[0], axis=1)
df_1516 = df_1516.drop(df_1516.columns[0], axis=1)
df_1617 = df_1617.drop(df_1617.columns[0], axis=1)
df_1718 = df_1718.drop(df_1718.columns[0], axis=1)

# And again, look at another one

df_1718.head()

,Player,Team,Position,GP,TOI,CF,CA,CF%,FF,FA,...,HDGF,HDGA,HDGF%,On-Ice SH%,On-Ice SV%,PDO,Off. Zone Faceoffs,Neu. Zone Faceoffs,Def. Zone Faceoffs,Off. Zone Faceoff %
0,A.J. Greer,COL,L,17,125.683333,88,129,40.55,68,100,...,2,1,66.67,7.41,97.26,1.047,36,34,33,52.17
1,Aaron Ekblad,FLA,D,82,1917.900000,1937,2037,48.74,1531,1609,...,57,58,49.57,10.32,91.45,1.018,622,663,892,41.08
2,Aaron Ness,WSH,D,8,101.816667,78,111,41.27,63,90,...,1,3,25.00,12.50,92.06,1.046,20,37,32,38.46
3,Adam Clendening,ARI,D,5,79.666667,79,91,46.47,62,68,...,3,4,42.86,8.89,87.76,0.966,21,28,25,45.65
4,Adam Cracknell,"DAL, NYR",R,5,38.550000,27,36,42.86,18,29,...,0,1,0.00,0.00,91.67,0.917,7,11,12,36.84

In [12]:
df_0708.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 852 entries, 0 to 851
Data columns (total 33 columns):
Player                 852 non-null object
Team                   852 non-null object
Position               852 non-null object
GP                     852 non-null int64
TOI                    852 non-null float64
CF                     852 non-null int64
CA                     852 non-null int64
CF%                    852 non-null float64
FF                     852 non-null int64
FA                     852 non-null int64
FF%                    852 non-null float64
SF                     852 non-null int64
SA                     852 non-null int64
SF%                    852 non-null float64
GF                     852 non-null int64
GA                     852 non-null int64
GF%                    852 non-null float64
SCF                    852 non-null int64
SCA                    852 non-null int64
SCF%                   852 non-null float64
HDCF                   852 non-null int64
HDCA                   852 non-null int64
HDCF%                  852 non-null float64
HDGF                   852 non-null int64
HDGA                   852 non-null int64
HDGF%                  852 non-null float64
On-Ice SH%             852 non-null float64
On-Ice SV%             852 non-null float64
PDO                    852 non-null float64
Off. Zone Faceoffs     852 non-null int64
Neu. Zone Faceoffs     852 non-null int64
Def. Zone Faceoffs     852 non-null int64
Off. Zone Faceoff %    852 non-null float64
dtypes: float64(12), int64(18), object(3)
memory usage: 219.7+ KB

In [13]:
# For this study, I'm more interested in the percentages than the pure numbers and I already have the player info in the
# bio dataframe

df_0708 = df_0708.drop(['Team','Position','CF','CA','FF','FA','SF','SA','GF','GA','SCF','SCA','HDCF','HDCA','HDGF','HDGA','On-Ice SH%','On-Ice SV%'], axis=1)

df_0708.head()

,Player,GP,TOI,CF%,FF%,SF%,GF%,SCF%,HDCF%,HDGF%,PDO,Off. Zone Faceoffs,Neu. Zone Faceoffs,Def. Zone Faceoffs,Off. Zone Faceoff %
0,Aaron Downey,56,256.933333,50.65,51.12,50.22,46.15,45.09,46.05,50.00,0.991,104,67,22,82.54
1,Aaron Johnson,30,415.850000,51.46,49.52,50.26,55.26,52.16,46.09,47.06,1.020,115,145,91,55.83
2,Aaron Miller,57,988.183333,40.09,40.17,40.23,40.24,41.50,42.39,37.50,1.000,160,306,298,34.93
3,Aaron Rome,17,309.033333,48.16,49.16,48.70,30.00,52.09,50.55,27.27,0.944,58,97,82,41.43
4,Aaron Voros,55,504.600000,48.88,47.32,46.98,50.00,49.63,51.59,57.14,1.013,158,205,144,52.32

In [14]:
df_0809 = df_0809.drop(['Team','Position','CF','CA','FF','FA','SF','SA','GF','GA','SCF','SCA','HDCF','HDCA','HDGF','HDGA','On-Ice SH%','On-Ice SV%'], axis=1)
df_0910 = df_0910.drop(['Team','Position','CF','CA','FF','FA','SF','SA','GF','GA','SCF','SCA','HDCF','HDCA','HDGF','HDGA','On-Ice SH%','On-Ice SV%'], axis=1)
df_1011 = df_1011.drop(['Team','Position','CF','CA','FF','FA','SF','SA','GF','GA','SCF','SCA','HDCF','HDCA','HDGF','HDGA','On-Ice SH%','On-Ice SV%'], axis=1)
df_1112 = df_1112.drop(['Team','Position','CF','CA','FF','FA','SF','SA','GF','GA','SCF','SCA','HDCF','HDCA','HDGF','HDGA','On-Ice SH%','On-Ice SV%'], axis=1)
df_1213 = df_1213.drop(['Team','Position','CF','CA','FF','FA','SF','SA','GF','GA','SCF','SCA','HDCF','HDCA','HDGF','HDGA','On-Ice SH%','On-Ice SV%'], axis=1)
df_1314 = df_1314.drop(['Team','Position','CF','CA','FF','FA','SF','SA','GF','GA','SCF','SCA','HDCF','HDCA','HDGF','HDGA','On-Ice SH%','On-Ice SV%'], axis=1)
df_1415 = df_1415.drop(['Team','Position','CF','CA','FF','FA','SF','SA','GF','GA','SCF','SCA','HDCF','HDCA','HDGF','HDGA','On-Ice SH%','On-Ice SV%'], axis=1)
df_1516 = df_1516.drop(['Team','Position','CF','CA','FF','FA','SF','SA','GF','GA','SCF','SCA','HDCF','HDCA','HDGF','HDGA','On-Ice SH%','On-Ice SV%'], axis=1)
df_1617 = df_1617.drop(['Team','Position','CF','CA','FF','FA','SF','SA','GF','GA','SCF','SCA','HDCF','HDCA','HDGF','HDGA','On-Ice SH%','On-Ice SV%'], axis=1)
df_1718 = df_1718.drop(['Team','Position','CF','CA','FF','FA','SF','SA','GF','GA','SCF','SCA','HDCF','HDCA','HDGF','HDGA','On-Ice SH%','On-Ice SV%'], axis=1)

df_1718.head()

,Player,GP,TOI,CF%,FF%,SF%,GF%,SCF%,HDCF%,HDGF%,PDO,Off. Zone Faceoffs,Neu. Zone Faceoffs,Def. Zone Faceoffs,Off. Zone Faceoff %
0,A.J. Greer,17,125.683333,40.55,40.48,42.52,66.67,46.00,39.53,66.67,1.047,36,34,33,52.17
1,Aaron Ekblad,82,1917.900000,48.74,48.76,48.06,52.75,49.16,44.10,49.57,1.018,622,663,892,41.08
2,Aaron Ness,8,101.816667,41.27,41.18,43.24,54.55,40.86,22.58,25.00,1.046,20,37,32,38.46
3,Adam Clendening,5,79.666667,46.47,47.69,47.87,40.00,42.22,42.86,42.86,0.966,21,28,25,45.65
4,Adam Cracknell,5,38.550000,42.86,38.30,36.84,0.00,34.78,30.00,0.00,0.917,7,11,12,36.84

In [15]:
# If we bother to track Off. Zone %, why not all 3 zones?

df_0708['Off Zone Faceoff %'] = df_0708['Off.\xa0Zone Faceoffs']*100/(df_0708['Off.\xa0Zone Faceoffs'] + df_0708['Neu.\xa0Zone Faceoffs'] + df_0708['Def.\xa0Zone Faceoffs'])
df_0708['Def Zone Faceoff %'] = df_0708['Def.\xa0Zone Faceoffs']*100/(df_0708['Off.\xa0Zone Faceoffs'] + df_0708['Neu.\xa0Zone Faceoffs'] + df_0708['Def.\xa0Zone Faceoffs'])
df_0708['Neu Zone Faceoff %'] = df_0708['Neu.\xa0Zone Faceoffs']*100/(df_0708['Off.\xa0Zone Faceoffs'] + df_0708['Neu.\xa0Zone Faceoffs'] + df_0708['Def.\xa0Zone Faceoffs'])

df_0708 = df_0708.drop(['Off.\xa0Zone Faceoffs','Def.\xa0Zone Faceoffs','Neu.\xa0Zone Faceoffs','Off.\xa0Zone Faceoff %'],axis=1)
                        
df_0708.head()

,Player,GP,TOI,CF%,FF%,SF%,GF%,SCF%,HDCF%,HDGF%,PDO,Off Zone Faceoff %,Def Zone Faceoff %,Neu Zone Faceoff %
0,Aaron Downey,56,256.933333,50.65,51.12,50.22,46.15,45.09,46.05,50.00,0.991,53.886010,11.398964,34.715026
1,Aaron Johnson,30,415.850000,51.46,49.52,50.26,55.26,52.16,46.09,47.06,1.020,32.763533,25.925926,41.310541
2,Aaron Miller,57,988.183333,40.09,40.17,40.23,40.24,41.50,42.39,37.50,1.000,20.942408,39.005236,40.052356
3,Aaron Rome,17,309.033333,48.16,49.16,48.70,30.00,52.09,50.55,27.27,0.944,24.472574,34.599156,40.928270
4,Aaron Voros,55,504.600000,48.88,47.32,46.98,50.00,49.63,51.59,57.14,1.013,31.163708,28.402367,40.433925

In [16]:
df_0809['Off Zone Faceoff %'] = df_0809['Off.\xa0Zone Faceoffs']*100/(df_0809['Off.\xa0Zone Faceoffs'] + df_0809['Neu.\xa0Zone Faceoffs'] + df_0809['Def.\xa0Zone Faceoffs'])
df_0809['Def Zone Faceoff %'] = df_0809['Def.\xa0Zone Faceoffs']*100/(df_0809['Off.\xa0Zone Faceoffs'] + df_0809['Neu.\xa0Zone Faceoffs'] + df_0809['Def.\xa0Zone Faceoffs'])
df_0809['Neu Zone Faceoff %'] = df_0809['Neu.\xa0Zone Faceoffs']*100/(df_0809['Off.\xa0Zone Faceoffs'] + df_0809['Neu.\xa0Zone Faceoffs'] + df_0809['Def.\xa0Zone Faceoffs'])
df_0910['Off Zone Faceoff %'] = df_0910['Off.\xa0Zone Faceoffs']*100/(df_0910['Off.\xa0Zone Faceoffs'] + df_0910['Neu.\xa0Zone Faceoffs'] + df_0910['Def.\xa0Zone Faceoffs'])
df_0910['Def Zone Faceoff %'] = df_0910['Def.\xa0Zone Faceoffs']*100/(df_0910['Off.\xa0Zone Faceoffs'] + df_0910['Neu.\xa0Zone Faceoffs'] + df_0910['Def.\xa0Zone Faceoffs'])
df_0910['Neu Zone Faceoff %'] = df_0910['Neu.\xa0Zone Faceoffs']*100/(df_0910['Off.\xa0Zone Faceoffs'] + df_0910['Neu.\xa0Zone Faceoffs'] + df_0910['Def.\xa0Zone Faceoffs'])
df_1011['Off Zone Faceoff %'] = df_1011['Off.\xa0Zone Faceoffs']*100/(df_1011['Off.\xa0Zone Faceoffs'] + df_1011['Neu.\xa0Zone Faceoffs'] + df_1011['Def.\xa0Zone Faceoffs'])
df_1011['Def Zone Faceoff %'] = df_1011['Def.\xa0Zone Faceoffs']*100/(df_1011['Off.\xa0Zone Faceoffs'] + df_1011['Neu.\xa0Zone Faceoffs'] + df_1011['Def.\xa0Zone Faceoffs'])
df_1011['Neu Zone Faceoff %'] = df_1011['Neu.\xa0Zone Faceoffs']*100/(df_1011['Off.\xa0Zone Faceoffs'] + df_1011['Neu.\xa0Zone Faceoffs'] + df_1011['Def.\xa0Zone Faceoffs'])
df_1112['Off Zone Faceoff %'] = df_1112['Off.\xa0Zone Faceoffs']*100/(df_1112['Off.\xa0Zone Faceoffs'] + df_1112['Neu.\xa0Zone Faceoffs'] + df_1112['Def.\xa0Zone Faceoffs'])
df_1112['Def Zone Faceoff %'] = df_1112['Def.\xa0Zone Faceoffs']*100/(df_1112['Off.\xa0Zone Faceoffs'] + df_1112['Neu.\xa0Zone Faceoffs'] + df_1112['Def.\xa0Zone Faceoffs'])
df_1112['Neu Zone Faceoff %'] = df_1112['Neu.\xa0Zone Faceoffs']*100/(df_1112['Off.\xa0Zone Faceoffs'] + df_1112['Neu.\xa0Zone Faceoffs'] + df_1112['Def.\xa0Zone Faceoffs'])
df_1213['Off Zone Faceoff %'] = df_1213['Off.\xa0Zone Faceoffs']*100/(df_1213['Off.\xa0Zone Faceoffs'] + df_1213['Neu.\xa0Zone Faceoffs'] + df_1213['Def.\xa0Zone Faceoffs'])
df_1213['Def Zone Faceoff %'] = df_1213['Def.\xa0Zone Faceoffs']*100/(df_1213['Off.\xa0Zone Faceoffs'] + df_1213['Neu.\xa0Zone Faceoffs'] + df_1213['Def.\xa0Zone Faceoffs'])
df_1213['Neu Zone Faceoff %'] = df_1213['Neu.\xa0Zone Faceoffs']*100/(df_1213['Off.\xa0Zone Faceoffs'] + df_1213['Neu.\xa0Zone Faceoffs'] + df_1213['Def.\xa0Zone Faceoffs'])
df_1314['Off Zone Faceoff %'] = df_1314['Off.\xa0Zone Faceoffs']*100/(df_1314['Off.\xa0Zone Faceoffs'] + df_1314['Neu.\xa0Zone Faceoffs'] + df_1314['Def.\xa0Zone Faceoffs'])
df_1314['Def Zone Faceoff %'] = df_1314['Def.\xa0Zone Faceoffs']*100/(df_1314['Off.\xa0Zone Faceoffs'] + df_1314['Neu.\xa0Zone Faceoffs'] + df_1314['Def.\xa0Zone Faceoffs'])
df_1314['Neu Zone Faceoff %'] = df_1314['Neu.\xa0Zone Faceoffs']*100/(df_1314['Off.\xa0Zone Faceoffs'] + df_1314['Neu.\xa0Zone Faceoffs'] + df_1314['Def.\xa0Zone Faceoffs'])
df_1415['Off Zone Faceoff %'] = df_1415['Off.\xa0Zone Faceoffs']*100/(df_1415['Off.\xa0Zone Faceoffs'] + df_1415['Neu.\xa0Zone Faceoffs'] + df_1415['Def.\xa0Zone Faceoffs'])
df_1415['Def Zone Faceoff %'] = df_1415['Def.\xa0Zone Faceoffs']*100/(df_1415['Off.\xa0Zone Faceoffs'] + df_1415['Neu.\xa0Zone Faceoffs'] + df_1415['Def.\xa0Zone Faceoffs'])
df_1415['Neu Zone Faceoff %'] = df_1415['Neu.\xa0Zone Faceoffs']*100/(df_1415['Off.\xa0Zone Faceoffs'] + df_1415['Neu.\xa0Zone Faceoffs'] + df_1415['Def.\xa0Zone Faceoffs'])
df_1516['Off Zone Faceoff %'] = df_1516['Off.\xa0Zone Faceoffs']*100/(df_1516['Off.\xa0Zone Faceoffs'] + df_1516['Neu.\xa0Zone Faceoffs'] + df_1516['Def.\xa0Zone Faceoffs'])
df_1516['Def Zone Faceoff %'] = df_1516['Def.\xa0Zone Faceoffs']*100/(df_1516['Off.\xa0Zone Faceoffs'] + df_1516['Neu.\xa0Zone Faceoffs'] + df_1516['Def.\xa0Zone Faceoffs'])
df_1516['Neu Zone Faceoff %'] = df_1516['Neu.\xa0Zone Faceoffs']*100/(df_1516['Off.\xa0Zone Faceoffs'] + df_1516['Neu.\xa0Zone Faceoffs'] + df_1516['Def.\xa0Zone Faceoffs'])
df_1617['Off Zone Faceoff %'] = df_1617['Off.\xa0Zone Faceoffs']*100/(df_1617['Off.\xa0Zone Faceoffs'] + df_1617['Neu.\xa0Zone Faceoffs'] + df_1617['Def.\xa0Zone Faceoffs'])
df_1617['Def Zone Faceoff %'] = df_1617['Def.\xa0Zone Faceoffs']*100/(df_1617['Off.\xa0Zone Faceoffs'] + df_1617['Neu.\xa0Zone Faceoffs'] + df_1617['Def.\xa0Zone Faceoffs'])
df_1617['Neu Zone Faceoff %'] = df_1617['Neu.\xa0Zone Faceoffs']*100/(df_1617['Off.\xa0Zone Faceoffs'] + df_1617['Neu.\xa0Zone Faceoffs'] + df_1617['Def.\xa0Zone Faceoffs'])
df_1718['Off Zone Faceoff %'] = df_1718['Off.\xa0Zone Faceoffs']*100/(df_1718['Off.\xa0Zone Faceoffs'] + df_1718['Neu.\xa0Zone Faceoffs'] + df_1718['Def.\xa0Zone Faceoffs'])
df_1718['Def Zone Faceoff %'] = df_1718['Def.\xa0Zone Faceoffs']*100/(df_1718['Off.\xa0Zone Faceoffs'] + df_1718['Neu.\xa0Zone Faceoffs'] + df_1718['Def.\xa0Zone Faceoffs'])
df_1718['Neu Zone Faceoff %'] = df_1718['Neu.\xa0Zone Faceoffs']*100/(df_1718['Off.\xa0Zone Faceoffs'] + df_1718['Neu.\xa0Zone Faceoffs'] + df_1718['Def.\xa0Zone Faceoffs'])

df_0809 = df_0809.drop(['Off.\xa0Zone Faceoffs','Def.\xa0Zone Faceoffs','Neu.\xa0Zone Faceoffs','Off.\xa0Zone Faceoff %'],axis=1)
df_0910 = df_0910.drop(['Off.\xa0Zone Faceoffs','Def.\xa0Zone Faceoffs','Neu.\xa0Zone Faceoffs','Off.\xa0Zone Faceoff %'],axis=1)
df_1011 = df_1011.drop(['Off.\xa0Zone Faceoffs','Def.\xa0Zone Faceoffs','Neu.\xa0Zone Faceoffs','Off.\xa0Zone Faceoff %'],axis=1)
df_1112 = df_1112.drop(['Off.\xa0Zone Faceoffs','Def.\xa0Zone Faceoffs','Neu.\xa0Zone Faceoffs','Off.\xa0Zone Faceoff %'],axis=1)
df_1213 = df_1213.drop(['Off.\xa0Zone Faceoffs','Def.\xa0Zone Faceoffs','Neu.\xa0Zone Faceoffs','Off.\xa0Zone Faceoff %'],axis=1)
df_1314 = df_1314.drop(['Off.\xa0Zone Faceoffs','Def.\xa0Zone Faceoffs','Neu.\xa0Zone Faceoffs','Off.\xa0Zone Faceoff %'],axis=1)
df_1415 = df_1415.drop(['Off.\xa0Zone Faceoffs','Def.\xa0Zone Faceoffs','Neu.\xa0Zone Faceoffs','Off.\xa0Zone Faceoff %'],axis=1)
df_1516 = df_1516.drop(['Off.\xa0Zone Faceoffs','Def.\xa0Zone Faceoffs','Neu.\xa0Zone Faceoffs','Off.\xa0Zone Faceoff %'],axis=1)
df_1617 = df_1617.drop(['Off.\xa0Zone Faceoffs','Def.\xa0Zone Faceoffs','Neu.\xa0Zone Faceoffs','Off.\xa0Zone Faceoff %'],axis=1)
df_1718 = df_1718.drop(['Off.\xa0Zone Faceoffs','Def.\xa0Zone Faceoffs','Neu.\xa0Zone Faceoffs','Off.\xa0Zone Faceoff %'],axis=1)

df_1718.head()

,Player,GP,TOI,CF%,FF%,SF%,GF%,SCF%,HDCF%,HDGF%,PDO,Off Zone Faceoff %,Def Zone Faceoff %,Neu Zone Faceoff %
0,A.J. Greer,17,125.683333,40.55,40.48,42.52,66.67,46.00,39.53,66.67,1.047,34.951456,32.038835,33.009709
1,Aaron Ekblad,82,1917.900000,48.74,48.76,48.06,52.75,49.16,44.10,49.57,1.018,28.571429,40.973817,30.454754
2,Aaron Ness,8,101.816667,41.27,41.18,43.24,54.55,40.86,22.58,25.00,1.046,22.471910,35.955056,41.573034
3,Adam Clendening,5,79.666667,46.47,47.69,47.87,40.00,42.22,42.86,42.86,0.966,28.378378,33.783784,37.837838
4,Adam Cracknell,5,38.550000,42.86,38.30,36.84,0.00,34.78,30.00,0.00,0.917,23.333333,40.000000,36.666667

In [17]:
# Again, let's see if any data is missing

df_0708.info()
df_0809.info()
df_0910.info()
df_1011.info()
df_1112.info()
df_1213.info()
df_1314.info()
df_1415.info()
df_1516.info()
df_1617.info()
df_1718.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 852 entries, 0 to 851
Data columns (total 14 columns):
Player                852 non-null object
GP                    852 non-null int64
TOI                   852 non-null float64
CF%                   852 non-null float64
FF%                   852 non-null float64
SF%                   852 non-null float64
GF%                   852 non-null float64
SCF%                  852 non-null float64
HDCF%                 852 non-null float64
HDGF%                 852 non-null float64
PDO                   852 non-null float64
Off Zone Faceoff %    852 non-null float64
Def Zone Faceoff %    852 non-null float64
Neu Zone Faceoff %    852 non-null float64
dtypes: float64(12), int64(1), object(1)
memory usage: 93.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 885 entries, 0 to 884
Data columns (total 14 columns):
Player                885 non-null object
GP                    885 non-null int64
TOI                   885 non-null float64
CF%                   885 non-null float64
FF%                   885 non-null float64
SF%                   885 non-null float64
GF%                   885 non-null float64
SCF%                  885 non-null float64
HDCF%                 885 non-null float64
HDGF%                 885 non-null float64
PDO                   885 non-null float64
Off Zone Faceoff %    884 non-null float64
Def Zone Faceoff %    884 non-null float64
Neu Zone Faceoff %    884 non-null float64
dtypes: float64(12), int64(1), object(1)
memory usage: 96.9+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 879 entries, 0 to 878
Data columns (total 14 columns):
Player                879 non-null object
GP                    879 non-null int64
TOI                   879 non-null float64
CF%                   879 non-null float64
FF%                   879 non-null float64
SF%                   879 non-null float64
GF%                   879 non-null float64
SCF%                  879 non-null float64
HDCF%                 879 non-null float64
HDGF%                 879 non-null float64
PDO                   879 non-null float64
Off Zone Faceoff %    879 non-null float64
Def Zone Faceoff %    879 non-null float64
Neu Zone Faceoff %    879 non-null float64
dtypes: float64(12), int64(1), object(1)
memory usage: 96.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 14 columns):
Player                891 non-null object
GP                    891 non-null int64
TOI                   891 non-null float64
CF%                   891 non-null float64
FF%                   891 non-null float64
SF%                   891 non-null float64
GF%                   891 non-null float64
SCF%                  891 non-null float64
HDCF%                 891 non-null float64
HDGF%                 891 non-null float64
PDO                   891 non-null float64
Off Zone Faceoff %    891 non-null float64
Def Zone Faceoff %    891 non-null float64
Neu Zone Faceoff %    891 non-null float64
dtypes: float64(12), int64(1), object(1)
memory usage: 97.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 894 entries, 0 to 893
Data columns (total 14 columns):
Player                894 non-null object
GP                    894 non-null int64
TOI                   894 non-null float64
CF%                   894 non-null float64
FF%                   894 non-null float64
SF%                   894 non-null float64
GF%                   894 non-null float64
SCF%                  894 non-null float64
HDCF%                 894 non-null float64
HDGF%                 894 non-null float64
PDO                   894 non-null float64
Off Zone Faceoff %    894 non-null float64
Def Zone Faceoff %    894 non-null float64
Neu Zone Faceoff %    894 non-null float64
dtypes: float64(12), int64(1), object(1)
memory usage: 97.9+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 839 entries, 0 to 838
Data columns (total 14 columns):
Player                839 non-null object
GP                    839 non-null int64
TOI                   839 non-null float64
CF%                   839 non-null float64
FF%                   839 non-null float64
SF%                   839 non-null float64
GF%                   839 non-null float64
SCF%                  839 non-null float64
HDCF%                 839 non-null float64
HDGF%                 839 non-null float64
PDO                   839 non-null float64
Off Zone Faceoff %    839 non-null float64
Def Zone Faceoff %    839 non-null float64
Neu Zone Faceoff %    839 non-null float64
dtypes: float64(12), int64(1), object(1)
memory usage: 91.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 886 entries, 0 to 885
Data columns (total 14 columns):
Player                886 non-null object
GP                    886 non-null int64
TOI                   886 non-null float64
CF%                   886 non-null float64
FF%                   886 non-null float64
SF%                   886 non-null float64
GF%                   886 non-null float64
SCF%                  886 non-null float64
HDCF%                 886 non-null float64
HDGF%                 886 non-null float64
PDO                   886 non-null float64
Off Zone Faceoff %    886 non-null float64
Def Zone Faceoff %    886 non-null float64
Neu Zone Faceoff %    886 non-null float64
dtypes: float64(12), int64(1), object(1)
memory usage: 97.0+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 882 entries, 0 to 881
Data columns (total 14 columns):
Player                882 non-null object
GP                    882 non-null int64
TOI                   882 non-null float64
CF%                   882 non-null float64
FF%                   882 non-null float64
SF%                   882 non-null float64
GF%                   882 non-null float64
SCF%                  882 non-null float64
HDCF%                 882 non-null float64
HDGF%                 882 non-null float64
PDO                   882 non-null float64
Off Zone Faceoff %    882 non-null float64
Def Zone Faceoff %    882 non-null float64
Neu Zone Faceoff %    882 non-null float64
dtypes: float64(12), int64(1), object(1)
memory usage: 96.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 898 entries, 0 to 897
Data columns (total 14 columns):
Player                898 non-null object
GP                    898 non-null int64
TOI                   898 non-null float64
CF%                   898 non-null float64
FF%                   898 non-null float64
SF%                   898 non-null float64
GF%                   898 non-null float64
SCF%                  898 non-null float64
HDCF%                 898 non-null float64
HDGF%                 898 non-null float64
PDO                   898 non-null float64
Off Zone Faceoff %    897 non-null float64
Def Zone Faceoff %    897 non-null float64
Neu Zone Faceoff %    897 non-null float64
dtypes: float64(12), int64(1), object(1)
memory usage: 98.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 888 entries, 0 to 887
Data columns (total 14 columns):
Player                888 non-null object
GP                    888 non-null int64
TOI                   888 non-null float64
CF%                   888 non-null float64
FF%                   888 non-null float64
SF%                   888 non-null float64
GF%                   888 non-null float64
SCF%                  888 non-null float64
HDCF%                 888 non-null float64
HDGF%                 888 non-null float64
PDO                   888 non-null float64
Off Zone Faceoff %    888 non-null float64
Def Zone Faceoff %    888 non-null float64
Neu Zone Faceoff %    888 non-null float64
dtypes: float64(12), int64(1), object(1)
memory usage: 97.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 890 entries, 0 to 889
Data columns (total 14 columns):
Player                890 non-null object
GP                    890 non-null int64
TOI                   890 non-null float64
CF%                   890 non-null float64
FF%                   890 non-null float64
SF%                   890 non-null float64
GF%                   890 non-null float64
SCF%                  890 non-null float64
HDCF%                 890 non-null float64
HDGF%                 890 non-null float64
PDO                   890 non-null float64
Off Zone Faceoff %    890 non-null float64
Def Zone Faceoff %    890 non-null float64
Neu Zone Faceoff %    890 non-null float64
dtypes: float64(12), int64(1), object(1)
memory usage: 97.4+ KB

Again, looks good.

In [18]:
# Now I'll load the rest of the statistics

df_0708_ind = pd.read_csv('C:/Users/Hill HP 2015/Documents/Springboard/Capstone Project 2/data/Player Season Totals 2007-8 ind.csv')

df_0708_ind.head()

,Unnamed: 0,Player,Team,Position,GP,TOI,Goals,Total Assists,First Assists,Second Assists,...,Misconduct,Penalties Drawn,Giveaways,Takeaways,Hits,Hits Taken,Shots Blocked,Faceoffs Won,Faceoffs Lost,Faceoffs %
0,NaN,Aaron Downey,DET,R,56,256.933333,0,3,3,0,...,2,21,4,3,79,48,6,0,0,-
1,NaN,Aaron Johnson,NYI,D,30,415.850000,0,2,0,2,...,0,4,16,18,41,39,28,0,0,-
2,NaN,Aaron Miller,VAN,D,57,988.183333,1,8,1,7,...,1,4,29,15,37,74,80,0,0,-
3,NaN,Aaron Rome,CBJ,D,17,309.033333,1,1,0,1,...,1,5,4,2,33,22,17,0,0,-
4,NaN,Aaron Voros,MIN,L,55,504.600000,7,7,6,1,...,2,32,10,8,96,67,5,3,12,20

In [19]:
df_0708_ind = df_0708_ind.drop(df_0708_ind.columns[0], axis=1)

df_0708_ind.head()

,Player,Team,Position,GP,TOI,Goals,Total Assists,First Assists,Second Assists,Total Points,...,Misconduct,Penalties Drawn,Giveaways,Takeaways,Hits,Hits Taken,Shots Blocked,Faceoffs Won,Faceoffs Lost,Faceoffs %
0,Aaron Downey,DET,R,56,256.933333,0,3,3,0,3,...,2,21,4,3,79,48,6,0,0,-
1,Aaron Johnson,NYI,D,30,415.850000,0,2,0,2,2,...,0,4,16,18,41,39,28,0,0,-
2,Aaron Miller,VAN,D,57,988.183333,1,8,1,7,9,...,1,4,29,15,37,74,80,0,0,-
3,Aaron Rome,CBJ,D,17,309.033333,1,1,0,1,2,...,1,5,4,2,33,22,17,0,0,-
4,Aaron Voros,MIN,L,55,504.600000,7,7,6,1,14,...,2,32,10,8,96,67,5,3,12,20

In [20]:
df_0809_ind = pd.read_csv('C:/Users/Hill HP 2015/Documents/Springboard/Capstone Project 2/data/Player Season Totals 2008-9 ind.csv')
df_0910_ind = pd.read_csv('C:/Users/Hill HP 2015/Documents/Springboard/Capstone Project 2/data/Player Season Totals 2009-10 ind.csv')
df_1011_ind = pd.read_csv('C:/Users/Hill HP 2015/Documents/Springboard/Capstone Project 2/data/Player Season Totals 2010-11 ind.csv')
df_1112_ind = pd.read_csv('C:/Users/Hill HP 2015/Documents/Springboard/Capstone Project 2/data/Player Season Totals 2011-12 ind.csv')
df_1213_ind = pd.read_csv('C:/Users/Hill HP 2015/Documents/Springboard/Capstone Project 2/data/Player Season Totals 2012-13 ind.csv')
df_1314_ind = pd.read_csv('C:/Users/Hill HP 2015/Documents/Springboard/Capstone Project 2/data/Player Season Totals 2013-14 ind.csv')
df_1415_ind = pd.read_csv('C:/Users/Hill HP 2015/Documents/Springboard/Capstone Project 2/data/Player Season Totals 2014-15 ind.csv')
df_1516_ind = pd.read_csv('C:/Users/Hill HP 2015/Documents/Springboard/Capstone Project 2/data/Player Season Totals 2015-16 ind.csv')
df_1617_ind = pd.read_csv('C:/Users/Hill HP 2015/Documents/Springboard/Capstone Project 2/data/Player Season Totals 2016-17 ind.csv')
df_1718_ind = pd.read_csv('C:/Users/Hill HP 2015/Documents/Springboard/Capstone Project 2/data/Player Season Totals 2017-18 ind.csv')

df_0809_ind = df_0809_ind.drop(df_0809_ind.columns[0], axis=1)
df_0910_ind = df_0910_ind.drop(df_0910_ind.columns[0], axis=1)
df_1011_ind = df_1011_ind.drop(df_1011_ind.columns[0], axis=1)
df_1112_ind = df_1112_ind.drop(df_1112_ind.columns[0], axis=1)
df_1213_ind = df_1213_ind.drop(df_1213_ind.columns[0], axis=1)
df_1314_ind = df_1314_ind.drop(df_1314_ind.columns[0], axis=1)
df_1415_ind = df_1415_ind.drop(df_1415_ind.columns[0], axis=1)
df_1516_ind = df_1516_ind.drop(df_1516_ind.columns[0], axis=1)
df_1617_ind = df_1617_ind.drop(df_1617_ind.columns[0], axis=1)
df_1718_ind = df_1718_ind.drop(df_1718_ind.columns[0], axis=1)

# Last time, look at another one

df_1718_ind.head()

,Player,Team,Position,GP,TOI,Goals,Total Assists,First Assists,Second Assists,Total Points,...,Misconduct,Penalties Drawn,Giveaways,Takeaways,Hits,Hits Taken,Shots Blocked,Faceoffs Won,Faceoffs Lost,Faceoffs %
0,A.J. Greer,COL,L,17,125.683333,0,3,2,1,3,...,1,7,2,3,30,16,5,1,2,33.33
1,Aaron Ekblad,FLA,D,82,1917.900000,16,22,6,16,38,...,0,12,99,40,69,72,121,0,0,-
2,Aaron Ness,WSH,D,8,101.816667,0,1,0,1,1,...,0,1,2,1,1,14,8,0,0,-
3,Adam Clendening,ARI,D,5,79.666667,0,2,0,2,2,...,0,0,4,2,2,5,6,0,0,-
4,Adam Cracknell,"DAL, NYR",R,5,38.550000,0,0,0,0,0,...,0,0,2,3,12,3,1,3,3,50

In [21]:
df_0708_ind.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 852 entries, 0 to 851
Data columns (total 32 columns):
Player              852 non-null object
Team                852 non-null object
Position            852 non-null object
GP                  852 non-null int64
TOI                 852 non-null float64
Goals               852 non-null int64
Total Assists       852 non-null int64
First Assists       852 non-null int64
Second Assists      852 non-null int64
Total Points        852 non-null int64
Shots               852 non-null int64
SH%                 852 non-null float64
iCF                 852 non-null int64
iFF                 852 non-null int64
iSCF                852 non-null int64
iHDCF               852 non-null int64
Rush Attempts       852 non-null int64
Rebounds Created    852 non-null int64
PIM                 852 non-null int64
Total Penalties     852 non-null int64
Minor               852 non-null int64
Major               852 non-null int64
Misconduct          852 non-null int64
Penalties Drawn     852 non-null int64
Giveaways           852 non-null int64
Takeaways           852 non-null int64
Hits                852 non-null int64
Hits Taken          852 non-null int64
Shots Blocked       852 non-null int64
Faceoffs Won        852 non-null int64
Faceoffs Lost       852 non-null int64
Faceoffs %          852 non-null object
dtypes: float64(2), int64(26), object(4)
memory usage: 213.1+ KB

In [22]:
# I already have the player data in the bio dataframe, and for this study, I don't need the i columns, the assist or penalty
# breakdowns or the non percentage faceoff numbers

df_0708_ind = df_0708_ind.drop(['Team','Position','GP','TOI','First Assists','Second Assists','iCF','iFF','iSCF','iHDCF','Total Penalties','Minor','Major','Misconduct','Faceoffs Won','Faceoffs Lost'], axis=1)

df_0708_ind.head()

,Player,Goals,Total Assists,Total Points,Shots,SH%,Rush Attempts,Rebounds Created,PIM,Penalties Drawn,Giveaways,Takeaways,Hits,Hits Taken,Shots Blocked,Faceoffs %
0,Aaron Downey,0,3,3,15,0.00,0,1,116,21,4,3,79,48,6,-
1,Aaron Johnson,0,2,2,16,0.00,0,1,30,4,16,18,41,39,28,-
2,Aaron Miller,1,8,9,27,3.70,1,5,32,4,29,15,37,74,80,-
3,Aaron Rome,1,1,2,15,6.67,0,2,33,5,4,2,33,22,17,-
4,Aaron Voros,7,7,14,52,13.46,4,8,141,32,10,8,96,67,5,20

In [23]:
df_0809_ind = df_0809_ind.drop(['Team','Position','GP','TOI','First Assists','Second Assists','iCF','iFF','iSCF','iHDCF','Total Penalties','Minor','Major','Misconduct','Faceoffs Won','Faceoffs Lost'], axis=1)
df_0910_ind = df_0910_ind.drop(['Team','Position','GP','TOI','First Assists','Second Assists','iCF','iFF','iSCF','iHDCF','Total Penalties','Minor','Major','Misconduct','Faceoffs Won','Faceoffs Lost'], axis=1)
df_1011_ind = df_1011_ind.drop(['Team','Position','GP','TOI','First Assists','Second Assists','iCF','iFF','iSCF','iHDCF','Total Penalties','Minor','Major','Misconduct','Faceoffs Won','Faceoffs Lost'], axis=1)
df_1112_ind = df_1112_ind.drop(['Team','Position','GP','TOI','First Assists','Second Assists','iCF','iFF','iSCF','iHDCF','Total Penalties','Minor','Major','Misconduct','Faceoffs Won','Faceoffs Lost'], axis=1)
df_1213_ind = df_1213_ind.drop(['Team','Position','GP','TOI','First Assists','Second Assists','iCF','iFF','iSCF','iHDCF','Total Penalties','Minor','Major','Misconduct','Faceoffs Won','Faceoffs Lost'], axis=1)
df_1314_ind = df_1314_ind.drop(['Team','Position','GP','TOI','First Assists','Second Assists','iCF','iFF','iSCF','iHDCF','Total Penalties','Minor','Major','Misconduct','Faceoffs Won','Faceoffs Lost'], axis=1)
df_1415_ind = df_1415_ind.drop(['Team','Position','GP','TOI','First Assists','Second Assists','iCF','iFF','iSCF','iHDCF','Total Penalties','Minor','Major','Misconduct','Faceoffs Won','Faceoffs Lost'], axis=1)
df_1516_ind = df_1516_ind.drop(['Team','Position','GP','TOI','First Assists','Second Assists','iCF','iFF','iSCF','iHDCF','Total Penalties','Minor','Major','Misconduct','Faceoffs Won','Faceoffs Lost'], axis=1)
df_1617_ind = df_1617_ind.drop(['Team','Position','GP','TOI','First Assists','Second Assists','iCF','iFF','iSCF','iHDCF','Total Penalties','Minor','Major','Misconduct','Faceoffs Won','Faceoffs Lost'], axis=1)
df_1718_ind = df_1718_ind.drop(['Team','Position','GP','TOI','First Assists','Second Assists','iCF','iFF','iSCF','iHDCF','Total Penalties','Minor','Major','Misconduct','Faceoffs Won','Faceoffs Lost'], axis=1)

df_1718_ind.head()

,Player,Goals,Total Assists,Total Points,Shots,SH%,Rush Attempts,Rebounds Created,PIM,Penalties Drawn,Giveaways,Takeaways,Hits,Hits Taken,Shots Blocked,Faceoffs %
0,A.J. Greer,0,3,3,13,0.00,1,0,29,7,2,3,30,16,5,33.33
1,Aaron Ekblad,16,22,38,189,8.47,4,17,71,12,99,40,69,72,121,-
2,Aaron Ness,0,1,1,2,0.00,0,0,8,1,2,1,1,14,8,-
3,Adam Clendening,0,2,2,4,0.00,0,0,2,0,4,2,2,5,6,-
4,Adam Cracknell,0,0,0,6,0.00,1,0,0,0,2,3,12,3,1,50

In [24]:
df_0708_ind.info()
df_0809_ind.info()
df_0910_ind.info()
df_1011_ind.info()
df_1112_ind.info()
df_1213_ind.info()
df_1314_ind.info()
df_1415_ind.info()
df_1516_ind.info()
df_1617_ind.info()
df_1718_ind.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 852 entries, 0 to 851
Data columns (total 16 columns):
Player              852 non-null object
Goals               852 non-null int64
Total Assists       852 non-null int64
Total Points        852 non-null int64
Shots               852 non-null int64
SH%                 852 non-null float64
Rush Attempts       852 non-null int64
Rebounds Created    852 non-null int64
PIM                 852 non-null int64
Penalties Drawn     852 non-null int64
Giveaways           852 non-null int64
Takeaways           852 non-null int64
Hits                852 non-null int64
Hits Taken          852 non-null int64
Shots Blocked       852 non-null int64
Faceoffs %          852 non-null object
dtypes: float64(1), int64(13), object(2)
memory usage: 106.6+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 885 entries, 0 to 884
Data columns (total 16 columns):
Player              885 non-null object
Goals               885 non-null int64
Total Assists       885 non-null int64
Total Points        885 non-null int64
Shots               885 non-null int64
SH%                 885 non-null float64
Rush Attempts       885 non-null int64
Rebounds Created    885 non-null int64
PIM                 885 non-null int64
Penalties Drawn     885 non-null int64
Giveaways           885 non-null int64
Takeaways           885 non-null int64
Hits                885 non-null int64
Hits Taken          885 non-null int64
Shots Blocked       885 non-null int64
Faceoffs %          885 non-null object
dtypes: float64(1), int64(13), object(2)
memory usage: 110.7+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 879 entries, 0 to 878
Data columns (total 16 columns):
Player              879 non-null object
Goals               879 non-null int64
Total Assists       879 non-null int64
Total Points        879 non-null int64
Shots               879 non-null int64
SH%                 879 non-null float64
Rush Attempts       879 non-null int64
Rebounds Created    879 non-null int64
PIM                 879 non-null int64
Penalties Drawn     879 non-null int64
Giveaways           879 non-null int64
Takeaways           879 non-null int64
Hits                879 non-null int64
Hits Taken          879 non-null int64
Shots Blocked       879 non-null int64
Faceoffs %          879 non-null object
dtypes: float64(1), int64(13), object(2)
memory usage: 110.0+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 16 columns):
Player              891 non-null object
Goals               891 non-null int64
Total Assists       891 non-null int64
Total Points        891 non-null int64
Shots               891 non-null int64
SH%                 891 non-null float64
Rush Attempts       891 non-null int64
Rebounds Created    891 non-null int64
PIM                 891 non-null int64
Penalties Drawn     891 non-null int64
Giveaways           891 non-null int64
Takeaways           891 non-null int64
Hits                891 non-null int64
Hits Taken          891 non-null int64
Shots Blocked       891 non-null int64
Faceoffs %          891 non-null object
dtypes: float64(1), int64(13), object(2)
memory usage: 111.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 894 entries, 0 to 893
Data columns (total 16 columns):
Player              894 non-null object
Goals               894 non-null int64
Total Assists       894 non-null int64
Total Points        894 non-null int64
Shots               894 non-null int64
SH%                 894 non-null float64
Rush Attempts       894 non-null int64
Rebounds Created    894 non-null int64
PIM                 894 non-null int64
Penalties Drawn     894 non-null int64
Giveaways           894 non-null int64
Takeaways           894 non-null int64
Hits                894 non-null int64
Hits Taken          894 non-null int64
Shots Blocked       894 non-null int64
Faceoffs %          894 non-null object
dtypes: float64(1), int64(13), object(2)
memory usage: 111.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 839 entries, 0 to 838
Data columns (total 16 columns):
Player              839 non-null object
Goals               839 non-null int64
Total Assists       839 non-null int64
Total Points        839 non-null int64
Shots               839 non-null int64
SH%                 839 non-null float64
Rush Attempts       839 non-null int64
Rebounds Created    839 non-null int64
PIM                 839 non-null int64
Penalties Drawn     839 non-null int64
Giveaways           839 non-null int64
Takeaways           839 non-null int64
Hits                839 non-null int64
Hits Taken          839 non-null int64
Shots Blocked       839 non-null int64
Faceoffs %          839 non-null object
dtypes: float64(1), int64(13), object(2)
memory usage: 105.0+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 886 entries, 0 to 885
Data columns (total 16 columns):
Player              886 non-null object
Goals               886 non-null int64
Total Assists       886 non-null int64
Total Points        886 non-null int64
Shots               886 non-null int64
SH%                 886 non-null float64
Rush Attempts       886 non-null int64
Rebounds Created    886 non-null int64
PIM                 886 non-null int64
Penalties Drawn     886 non-null int64
Giveaways           886 non-null int64
Takeaways           886 non-null int64
Hits                886 non-null int64
Hits Taken          886 non-null int64
Shots Blocked       886 non-null int64
Faceoffs %          886 non-null object
dtypes: float64(1), int64(13), object(2)
memory usage: 110.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 882 entries, 0 to 881
Data columns (total 16 columns):
Player              882 non-null object
Goals               882 non-null int64
Total Assists       882 non-null int64
Total Points        882 non-null int64
Shots               882 non-null int64
SH%                 882 non-null float64
Rush Attempts       882 non-null int64
Rebounds Created    882 non-null int64
PIM                 882 non-null int64
Penalties Drawn     882 non-null int64
Giveaways           882 non-null int64
Takeaways           882 non-null int64
Hits                882 non-null int64
Hits Taken          882 non-null int64
Shots Blocked       882 non-null int64
Faceoffs %          882 non-null object
dtypes: float64(1), int64(13), object(2)
memory usage: 110.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 898 entries, 0 to 897
Data columns (total 16 columns):
Player              898 non-null object
Goals               898 non-null int64
Total Assists       898 non-null int64
Total Points        898 non-null int64
Shots               898 non-null int64
SH%                 898 non-null float64
Rush Attempts       898 non-null int64
Rebounds Created    898 non-null int64
PIM                 898 non-null int64
Penalties Drawn     898 non-null int64
Giveaways           898 non-null int64
Takeaways           898 non-null int64
Hits                898 non-null int64
Hits Taken          898 non-null int64
Shots Blocked       898 non-null int64
Faceoffs %          898 non-null object
dtypes: float64(1), int64(13), object(2)
memory usage: 112.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 888 entries, 0 to 887
Data columns (total 16 columns):
Player              888 non-null object
Goals               888 non-null int64
Total Assists       888 non-null int64
Total Points        888 non-null int64
Shots               888 non-null int64
SH%                 888 non-null float64
Rush Attempts       888 non-null int64
Rebounds Created    888 non-null int64
PIM                 888 non-null int64
Penalties Drawn     888 non-null int64
Giveaways           888 non-null int64
Takeaways           888 non-null int64
Hits                888 non-null int64
Hits Taken          888 non-null int64
Shots Blocked       888 non-null int64
Faceoffs %          888 non-null object
dtypes: float64(1), int64(13), object(2)
memory usage: 111.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 890 entries, 0 to 889
Data columns (total 16 columns):
Player              890 non-null object
Goals               890 non-null int64
Total Assists       890 non-null int64
Total Points        890 non-null int64
Shots               890 non-null int64
SH%                 890 non-null float64
Rush Attempts       890 non-null int64
Rebounds Created    890 non-null int64
PIM                 890 non-null int64
Penalties Drawn     890 non-null int64
Giveaways           890 non-null int64
Takeaways           890 non-null int64
Hits                890 non-null int64
Hits Taken          890 non-null int64
Shots Blocked       890 non-null int64
Faceoffs %          890 non-null object
dtypes: float64(1), int64(13), object(2)
memory usage: 111.3+ KB

Good, again everything looks again.

In [25]:
# Now let's make sure all the dataframes are the same length for merging

print('0708',len(df_0708) == len(df_0708_ind) == len(df_bio_0708))
print('0809',len(df_0809) == len(df_0809_ind) == len(df_bio_0809))
print('0910',len(df_0910) == len(df_0910_ind) == len(df_bio_0910))
print('1011',len(df_1011) == len(df_1011_ind) == len(df_bio_1011))
print('1112',len(df_1112) == len(df_1112_ind) == len(df_bio_1112))
print('1213',len(df_1213) == len(df_1213_ind) == len(df_bio_1213))
print('1314',len(df_1314) == len(df_1314_ind) == len(df_bio_1314))
print('1415',len(df_1415) == len(df_1415_ind) == len(df_bio_1415))
print('1516',len(df_1516) == len(df_1516_ind) == len(df_bio_1516))
print('1617',len(df_1617) == len(df_1617_ind) == len(df_bio_1617))
print('1718',len(df_1718) == len(df_1718_ind) == len(df_bio_1718))

0708 True
0809 True
0910 True
1011 True
1112 True
1213 True
1314 True
1415 True
1516 True
1617 True
1718 True

OK, everything looks good to merge.

In [26]:
df_0708 = pd.merge(pd.merge(df_bio_0708,df_0708,on='Player'),df_0708_ind,on='Player')
df_0708.head()

,Player,Team,Position,Date of Birth,Nationality,Height (in),Weight (lbs),Draft Year,Draft Round,GP,...,Rush Attempts,Rebounds Created,PIM,Penalties Drawn,Giveaways,Takeaways,Hits,Hits Taken,Shots Blocked,Faceoffs %
0,Aaron Downey,DET,R,1974-08-27,CAN,73,215,-,-,56,...,0,1,116,21,4,3,79,48,6,-
1,Aaron Johnson,NYI,D,1983-04-30,CAN,73,204,2001,3,30,...,0,1,30,4,16,18,41,39,28,-
2,Aaron Miller,VAN,D,1971-08-11,USA,75,210,1989,5,57,...,1,5,32,4,29,15,37,74,80,-
3,Aaron Rome,CBJ,D,1983-09-27,CAN,73,220,2002,4,17,...,0,2,33,5,4,2,33,22,17,-
4,Aaron Voros,MIN,L,1981-07-02,CAN,74,210,2001,8,55,...,4,8,141,32,10,8,96,67,5,20

In [27]:
df_0708.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 858 entries, 0 to 857
Data columns (total 37 columns):
Player                858 non-null object
Team                  858 non-null object
Position              858 non-null object
Date of Birth         858 non-null object
Nationality           858 non-null object
Height (in)           858 non-null int64
Weight (lbs)          858 non-null int64
Draft Year            858 non-null object
Draft Round           858 non-null object
GP                    858 non-null int64
TOI                   858 non-null float64
CF%                   858 non-null float64
FF%                   858 non-null float64
SF%                   858 non-null float64
GF%                   858 non-null float64
SCF%                  858 non-null float64
HDCF%                 858 non-null float64
HDGF%                 858 non-null float64
PDO                   858 non-null float64
Off Zone Faceoff %    858 non-null float64
Def Zone Faceoff %    858 non-null float64
Neu Zone Faceoff %    858 non-null float64
Goals                 858 non-null int64
Total Assists         858 non-null int64
Total Points          858 non-null int64
Shots                 858 non-null int64
SH%                   858 non-null float64
Rush Attempts         858 non-null int64
Rebounds Created      858 non-null int64
PIM                   858 non-null int64
Penalties Drawn       858 non-null int64
Giveaways             858 non-null int64
Takeaways             858 non-null int64
Hits                  858 non-null int64
Hits Taken            858 non-null int64
Shots Blocked         858 non-null int64
Faceoffs %            858 non-null object
dtypes: float64(13), int64(16), object(8)
memory usage: 254.7+ KB

In [28]:
df_0809 = pd.merge(pd.merge(df_bio_0809,df_0809,on='Player'),df_0809_ind,on='Player')
df_0910 = pd.merge(pd.merge(df_bio_0910,df_0910,on='Player'),df_0910_ind,on='Player')
df_1011 = pd.merge(pd.merge(df_bio_1011,df_1011,on='Player'),df_1011_ind,on='Player')
df_1112 = pd.merge(pd.merge(df_bio_1112,df_1112,on='Player'),df_1112_ind,on='Player')
df_1213 = pd.merge(pd.merge(df_bio_1213,df_1213,on='Player'),df_1213_ind,on='Player')
df_1314 = pd.merge(pd.merge(df_bio_1314,df_1314,on='Player'),df_1314_ind,on='Player')
df_1415 = pd.merge(pd.merge(df_bio_1415,df_1415,on='Player'),df_1415_ind,on='Player')
df_1516 = pd.merge(pd.merge(df_bio_1516,df_1516,on='Player'),df_1516_ind,on='Player')
df_1617 = pd.merge(pd.merge(df_bio_1617,df_1617,on='Player'),df_1617_ind,on='Player')
df_1718 = pd.merge(pd.merge(df_bio_1718,df_1718,on='Player'),df_1718_ind,on='Player')

# And the usual last inspection

df_1718.head()

,Player,Team,Position,Date of Birth,Nationality,Height (in),Weight (lbs),Draft Year,Draft Round,GP,...,Rush Attempts,Rebounds Created,PIM,Penalties Drawn,Giveaways,Takeaways,Hits,Hits Taken,Shots Blocked,Faceoffs %
0,A.J. Greer,COL,L,1996-12-14,CAN,75,204,2015,2,17,...,1,0,29,7,2,3,30,16,5,33.33
1,Aaron Ekblad,FLA,D,1996-02-07,CAN,76,216,2014,1,82,...,4,17,71,12,99,40,69,72,121,-
2,Aaron Ness,WSH,D,1990-05-18,USA,70,184,2008,2,8,...,0,0,8,1,2,1,1,14,8,-
3,Adam Clendening,ARI,D,1992-10-26,USA,72,196,2011,2,5,...,0,0,2,0,4,2,2,5,6,-
4,Adam Cracknell,"DAL, NYR",R,1985-07-15,CAN,74,218,2004,9,5,...,1,0,0,0,2,3,12,3,1,50

In [29]:
df_1718.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 896 entries, 0 to 895
Data columns (total 37 columns):
Player                896 non-null object
Team                  896 non-null object
Position              896 non-null object
Date of Birth         896 non-null object
Nationality           896 non-null object
Height (in)           896 non-null int64
Weight (lbs)          896 non-null int64
Draft Year            896 non-null object
Draft Round           896 non-null object
GP                    896 non-null int64
TOI                   896 non-null float64
CF%                   896 non-null float64
FF%                   896 non-null float64
SF%                   896 non-null float64
GF%                   896 non-null float64
SCF%                  896 non-null float64
HDCF%                 896 non-null float64
HDGF%                 896 non-null float64
PDO                   896 non-null float64
Off Zone Faceoff %    896 non-null float64
Def Zone Faceoff %    896 non-null float64
Neu Zone Faceoff %    896 non-null float64
Goals                 896 non-null int64
Total Assists         896 non-null int64
Total Points          896 non-null int64
Shots                 896 non-null int64
SH%                   896 non-null float64
Rush Attempts         896 non-null int64
Rebounds Created      896 non-null int64
PIM                   896 non-null int64
Penalties Drawn       896 non-null int64
Giveaways             896 non-null int64
Takeaways             896 non-null int64
Hits                  896 non-null int64
Hits Taken            896 non-null int64
Shots Blocked         896 non-null int64
Faceoffs %            896 non-null object
dtypes: float64(13), int64(16), object(8)
memory usage: 266.0+ KB

In [30]:
# Now, add the season info to each dataframe to concatenate all the data into one complete dataframe

df_0708['Season'] = '2007-2008'
df_0708.head()

,Player,Team,Position,Date of Birth,Nationality,Height (in),Weight (lbs),Draft Year,Draft Round,GP,...,Rebounds Created,PIM,Penalties Drawn,Giveaways,Takeaways,Hits,Hits Taken,Shots Blocked,Faceoffs %,Season
0,Aaron Downey,DET,R,1974-08-27,CAN,73,215,-,-,56,...,1,116,21,4,3,79,48,6,-,2007-2008
1,Aaron Johnson,NYI,D,1983-04-30,CAN,73,204,2001,3,30,...,1,30,4,16,18,41,39,28,-,2007-2008
2,Aaron Miller,VAN,D,1971-08-11,USA,75,210,1989,5,57,...,5,32,4,29,15,37,74,80,-,2007-2008
3,Aaron Rome,CBJ,D,1983-09-27,CAN,73,220,2002,4,17,...,2,33,5,4,2,33,22,17,-,2007-2008
4,Aaron Voros,MIN,L,1981-07-02,CAN,74,210,2001,8,55,...,8,141,32,10,8,96,67,5,20,2007-2008

In [31]:
df_0809['Season'] = '2008-2009'
df_0910['Season'] = '2009-2010'
df_1011['Season'] = '2010-2011'
df_1112['Season'] = '2011-2012'
df_1213['Season'] = '2012-2013'
df_1314['Season'] = '2013-2014'
df_1415['Season'] = '2014-2015'
df_1516['Season'] = '2015-2016'
df_1617['Season'] = '2016-2017'
df_1718['Season'] = '2017-2018'

# And again the usual last inspection

df_1718.head()

,Player,Team,Position,Date of Birth,Nationality,Height (in),Weight (lbs),Draft Year,Draft Round,GP,...,Rebounds Created,PIM,Penalties Drawn,Giveaways,Takeaways,Hits,Hits Taken,Shots Blocked,Faceoffs %,Season
0,A.J. Greer,COL,L,1996-12-14,CAN,75,204,2015,2,17,...,0,29,7,2,3,30,16,5,33.33,2017-2018
1,Aaron Ekblad,FLA,D,1996-02-07,CAN,76,216,2014,1,82,...,17,71,12,99,40,69,72,121,-,2017-2018
2,Aaron Ness,WSH,D,1990-05-18,USA,70,184,2008,2,8,...,0,8,1,2,1,1,14,8,-,2017-2018
3,Adam Clendening,ARI,D,1992-10-26,USA,72,196,2011,2,5,...,0,2,0,4,2,2,5,6,-,2017-2018
4,Adam Cracknell,"DAL, NYR",R,1985-07-15,CAN,74,218,2004,9,5,...,0,0,0,2,3,12,3,1,50,2017-2018

In [32]:
all_data = [df_0708, df_0809, df_0910, df_1011, df_1112, df_1213, df_1314, df_1415, df_1516, df_1617, df_1718]

df_all_data = pd.concat(all_data, ignore_index=True)

df_all_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9706 entries, 0 to 9705
Data columns (total 38 columns):
Player                9706 non-null object
Team                  9706 non-null object
Position              9706 non-null object
Date of Birth         9706 non-null object
Nationality           9706 non-null object
Height (in)           9706 non-null int64
Weight (lbs)          9706 non-null int64
Draft Year            9706 non-null object
Draft Round           9706 non-null object
GP                    9706 non-null int64
TOI                   9706 non-null float64
CF%                   9706 non-null float64
FF%                   9706 non-null float64
SF%                   9706 non-null float64
GF%                   9706 non-null float64
SCF%                  9706 non-null float64
HDCF%                 9706 non-null float64
HDGF%                 9706 non-null float64
PDO                   9706 non-null float64
Off Zone Faceoff %    9704 non-null float64
Def Zone Faceoff %    9704 non-null float64
Neu Zone Faceoff %    9704 non-null float64
Goals                 9706 non-null int64
Total Assists         9706 non-null int64
Total Points          9706 non-null int64
Shots                 9706 non-null int64
SH%                   9706 non-null float64
Rush Attempts         9706 non-null int64
Rebounds Created      9706 non-null int64
PIM                   9706 non-null int64
Penalties Drawn       9706 non-null int64
Giveaways             9706 non-null int64
Takeaways             9706 non-null int64
Hits                  9706 non-null int64
Hits Taken            9706 non-null int64
Shots Blocked         9706 non-null int64
Faceoffs %            9706 non-null object
Season                9706 non-null object
dtypes: float64(13), int64(16), object(9)
memory usage: 2.8+ MB

In [33]:
# Excellent.  Now save for future work.

df_all_data.to_csv('C:/Users/Hill HP 2015/Documents/Springboard/Capstone Project 2/data/Complete Data.csv', encoding='utf-8')